<div id="comment-<%= comment.id %>">
  [<%= comment.created_at %>]
  <%= comment.user.username %> :
  <% if current_user && current_user == comment.user || current_user.admin? %>
    <%= link_to "Delete", phrase_comment_path(@phrase, comment),
      method: :delete, remote: true, style: 'float: right' %>
    <% end %>
    <%= comment.body %>
    <hr/>
  <br/>
</div>